.details-container {
    width: 60%;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFD700;
    border-radius: 10px;
    padding: 20px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: -2px 1px 57px 12px rgba(235,198,6,0.75);
    -webkit-box-shadow: -2px 1px 57px 12px rgba(235,198,6,0.75);
    -moz-box-shadow: -2px 1px 57px 12px rgba(235,198,6,0.75);
}


.details-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-container {
    margin-bottom: 20px;
}

.order-id {
    font-size: 1.5em;
    font-weight: bold;
}

.section-button-container {
    display: flex;
    justify-content: flex-end;
}

.completed-delivery-button {
    background-color: white;
    color: #FFD700;
    border: 1px solid #FFD700;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.completed-delivery-button:hover {
    background-color: #FFD700;
    color: white;
}

.details-row {
    margin-top: 20px;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
}

.order-dets-label {
    font-weight: bold;
}

.order-dets-text {
    margin-bottom: 10px;
}

.details-table {
    width: 90%;
}

.dev-details-heading {
    background-color: #FFD700;
}