.widget {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 11px 13px 18px -6px rgba(21,88,150,0.72);
    -webkit-box-shadow: 11px 13px 18px -6px rgba(21,88,150,0.72);
    -moz-box-shadow: 11px 13px 18px -6px rgba(21,88,150,0.72);
    border-radius: 10px;
    height: 150px;
    border-color: #0A205A;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    /* font-weight: bold; */
    font-size: 20px;
    color: black;
}

.left .count{
    font-size: 28px;
    font-weight: 400;
    color: #EBC606;
}

.link {
    font-size: 12px;
    border-bottom: 1px solid #0A205A;
    width: max-content;
    text-decoration: none;
    cursor: pointer;
}

.percentage {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.percentage .positive {
    color: green;
}

.percentage .negative {
    color: red;
}

.right.icon {
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
}