.sidebar .btn{
    text-transform: capitalize;
    font-size: 16px;
    background: #0A205A;
    color:white;
    width: 100%;
   
}

.sidebar .btn:hover{
    background: #1338a1;
}

.sidebar .btn svg{
    margin-right: 10px;
}


.sidebar img{
    border-radius: 10px;
}