.cartSection {
    width: 100%;
    height: auto;
    padding: 35px 0px;
}

.cart-quantity {
    color: #FFD700;
    font-weight: bold;
}

.clear-cart {
    margin-left: auto; 
     display: flex; 
     align-items: center;
     cursor: pointer;
     font-weight: 500;
    font-size: 14px;
}

.cart-empty img {
    height: 450px;
}

.cartWrapper .cart-table thead {
    background: #ffed96;
    overflow: hidden;
    border-radius: 20px;
}

/* .cartWrapper .cart-table thead th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
} */

/* .cartWrapper .cart-table tbody tr {
    padding-left: 50px !important;
} */

.product-name {
    padding-left: 15px;
}

.product-name h4 {
    color: rgba(0,0,0,0.7);
    font-size: 20px;
}

.product-name a{
    text-decoration: none;
    
}

.product-name a:hover{
    text-decoration: none;
    color: #FFD700;
}

.product-name span {
    color: rgb(182, 181, 181);
    font-size: 15px;
}

.cartWrapper .cart-table tbody td .img {
    width: 100px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
}

.cartWrapper .cart-table tbody td {
    vertical-align: middle;
}

.rating-text {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
}

.cart-product-unit-price {
    font-weight: 600;
    font-size: 20px;
}

.cart-product-price {
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.cart-summary-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 4px;
} 

.cart-summary-details {
    margin-left: auto;
    margin-bottom: 0;
    font-weight: bold;
}

.cart-product-shipping-price {
    color: #FFD700;
    font-size: 20px;
    font-weight: bold;
}

.checkout-button {
    padding: 5px;
    background-color: #FFD700;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    width: 100%;
}

.checkout-button:hover {
    background-color: white;
    background-color: #ffed96;

    
}

.cart-summary-title {
    margin-bottom: 0;
    color: black;
    font-size: 18px;

}

.cart-rightside {
   padding-left: 200px;
}

.cart-product-quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.cart-product-quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.cart-product-quantity .count {
    padding: 0.7rem 0;
}
.continue-shopping button{
    margin-top: 1rem;
    background-color: #FFD700;
    color: black;
    border-radius: 4px;
    padding: 7px;
    display: flex;
    margin-left: auto;
    border: none;
}

.continue-shopping button:hover {
    background-color: white;
    background-color: #ffed96;
}

.continue-shopping a {
    text-decoration: none;
}

.start-shopping button{
    margin-top: 1rem;
    background-color: #FFD700;
    color: black;
    border-radius: 4px;
    padding: 7px;
    margin-left: auto;
    border: none;
}

.start-shopping button:hover {
    background-color: white;
    background-color: #ffed96;
}

.cart-empty {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}